body {
    font-family: Arial, sans-serif;
}

table {
    border: 2px solid black;
    margin-top: 20px;
    padding: 10px;
}
fieldset {
    width: 320px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    padding: 4px 8px;
}

.personal {
    border: 3px solid red;
    background-color: #ffe6e6;
}

.contact {
    border: 3px solid blue;
    background-color: #e6ecff;
}

.digital {
    border: 3px solid green;
    background-color: #e6ffe6;
}

.bio {
    border: 3px solid purple;
    background-color: #ffe6ff;
}

input, select, textarea {
    margin-top: 6px;
}
